<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.worth.sys.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.worth.sys.domain.Menu">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="perms" property="perms" />
        <result column="type" property="type" />
        <result column="icon" property="icon" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, name, url, perms, type, icon, sort, create_time AS createTime, update_time AS updateTime
    </sql>
    <sql id="findMenuBaseSql">
        SELECT
          m.*
        FROM
            sys_menu m,
            sys_role_menu rm,
            sys_role r
        WHERE
            m.id = rm.menu_id
        AND r.id = rm.role_id
        <if test="null != roleIds and roleIds.size() != 0">
            AND r.id IN
            <foreach close=")" collection="roleIds" item="each" open="(" separator=",">
                #{each}
            </foreach>
        </if>
    </sql>
    <select id="findPermsByRoleIds" resultType="cn.worth.common.vo.MenuVO">
        <include refid="findMenuBaseSql"/>
        ORDER BY
          m.sort
    </select>

    <select id="findMenusByRoleIds" resultType="cn.worth.common.vo.MenuVO">

        <include refid="findMenuBaseSql"/>
        AND m.TYPE != 2

    </select>
    <select id="findMenuByRole" resultType="cn.worth.common.vo.MenuVO">

    </select>

</mapper>
