<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.worth.sys.mapper.UserRoleMapper">

    <select id="getRoleIdsByUserId" resultType="java.lang.Long">
        SELECT
            r.id
        FROM
            sys_role r,
            sys_user_role ur
        WHERE
            ur.role_id = r.id
            AND r.del_flag = 0
            AND ur.user_id = #{userId}
    </select>

</mapper>
