<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.worth.sys.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.worth.sys.domain.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="real_name" property="realName" />
        <result column="sex" property="sex" />
        <result column="pic_id" property="picId" />
        <result column="birth" property="birth" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="salt" property="salt" />
        <result column="dept_id" property="deptId" />
        <result column="org_id" property="orgId" />
        <result column="locked" property="locked" />
        <result column="expired" property="expired" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
    </resultMap>

    <!-- userVo结果集 -->
    <resultMap id="userVoResultMap" type="cn.worth.common.vo.UserVO">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="pic_id" property="picId"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile" />
        <result column="state" property="state"/>
        <result column="birth" property="birth"/>
        <result column="org_id" property="orgId"/>
        <result column="dept_id" property="deptId"/>
        <result column="name" property="name"/>
        <result column="create_time" property="gmtCreate"/>
        <result column="update_time" property="gmtModified"/>
        <collection property="roles" ofType="cn.worth.common.vo.RoleVo">
            <id property="id" column="rid"/>
            <result property="roleSign" column="role_sign"/>
            <collection property="permissions" ofType="cn.worth.common.vo.MenuVO">
                <id property="id" column="mid"/>
                <result property="perms" column="perms"/>
            </collection>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, real_name AS realName, sex, pic_id AS picId, birth, email, mobile, dept_id AS deptId, org_id AS orgId, locked, expired,salt, create_time AS createTime, update_time AS updateTime, status
    </sql>

    <sql id="selectUserVoColumn">
        SELECT
        u.id,
        u.username,
        u.PASSWORD,
        u.NAME,
        u.sex,
        u.pic_id,
        u.birth,
        u.email,
        u.state,
        u.mobile,
        u.dept_id,
        u.gmt_create,
        u.gmt_modified,
        r.id rid,
        r.role_sign,
        m.id mid,
        m.perms
        FROM
        sys_user AS u
        LEFT JOIN sys_user_role AS ur ON ur.user_id = u.id
        LEFT JOIN sys_role AS r ON r.id = ur.role_id
        LEFT JOIN sys_role_menu AS rm ON rm.role_id = r.id
        LEFT JOIN sys_menu AS m ON m.id = rm.menu_id
    </sql>


    <select id="loadUserByUsername" resultMap="userVoResultMap">
        <include refid="selectUserVoColumn"/>
        WHERE u.username = #{username}
    </select>

</mapper>
