<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.worth.sys.mapper.UserMapper">

    <sql id="selectUserVoColumn">
        SELECT
        u.id,
        u.username,
        u.PASSWORD,
        u.NAME,
        u.sex,
        u.pic_id,
        u.birth,
        u.email,
        u.state,
        u.expired,
        u.mobile,
        u.gmt_create,
        u.gmt_modified,
        r.id rid,
        r.role_sign,
        m.id mid,
        m.perms
        FROM
        sys_user AS u
        LEFT JOIN sys_user_role AS ur ON ur.user_id = u.id
        LEFT JOIN sys_role AS r ON r.id = ur.role_id
        LEFT JOIN sys_role_menu AS rm ON rm.role_id = r.id
        LEFT JOIN sys_menu AS m ON m.id = rm.menu_id
    </sql>

</mapper>
