<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.worth.tools.approval.mapper.ApprovalTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.worth.tools.approval.domain.ApprovalTask">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="total_process" property="totalProcess"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="user_create" property="userCreate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, status, total_process AS totalProcess, gmt_create AS gmtCreate, user_create AS userCreate
    </sql>
    <select id="getVO" resultType="cn.worth.tools.approval.vo.ApprovalTaskVO">
        select
        <include refid="Base_Column_List"/>
        from approval_task
        where id = #{id}
    </select>
    <select id="pageVO" resultType="cn.worth.tools.approval.vo.ApprovalTaskVO">
        select
        <include refid="Base_Column_List"/>
        from approval_task
        <where>
            <if test="null != type">and `type` = #{type}</if>
            <if test="null != status">and `status` = #{status}</if>
        </where>
    </select>
    <select id="pageByUser" resultType="cn.worth.tools.approval.vo.ApprovalTaskVO">
        select
        <include refid="Base_Column_List"/>
        from approval_task where user_create = #{userId}
        <if test="null != param.type">and `type` = #{param.type}</if>
        <if test="null != param.status">and `status` = #{param.status}</if>
    </select>
    <select id="getByIds" resultType="cn.worth.tools.approval.vo.ApprovalTaskVO">
        select
        <include refid="Base_Column_List"/>
        from approval_task where id in
        <foreach collection="taskIds" item="each" separator="," open="(" close=")">
            #{each}
        </foreach>
    </select>
    <select id="pageMyApprove" resultType="cn.worth.tools.approval.vo.ApprovalTaskVO">
        SELECT
            t.id,
            t.NAME,
            t.type,
            t.STATUS,
            t.current_process,
            t.total_process,
            t.gmt_create,
            t.user_create
        FROM
            approval_task t
            LEFT JOIN approval_task_process p ON t.current_process = p.id
        WHERE
            p.user_id = #{userId}
            AND p.`status` = 0
            AND t.`status` = 0
    </select>

</mapper>
