<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.worth.admin.mapper.DeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.worth.admin.domain.Dept">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="org_id" property="orgId" />
        <result column="name" property="name" />
        <result column="short_name" property="shortName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, org_id AS orgId, name, short_name AS shortName, create_time AS createTime, update_time AS updateTime, del_flag AS delFlag
    </sql>

</mapper>
