<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.worth.modules.applet.mapper.BizMemberLevelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.worth.modules.applet.domain.BizMemberLevel">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="growth_point" property="growthPoint" />
        <result column="default_status" property="defaultStatus" />
        <result column="free_freight_point" property="freeFreightPoint" />
        <result column="comment_growth_point" property="commentGrowthPoint" />
        <result column="privilege_free_freight" property="privilegeFreeFreight" />
        <result column="privilege_sign_in" property="privilegeSignIn" />
        <result column="privilege_comment" property="privilegeComment" />
        <result column="privilege_promotion" property="privilegePromotion" />
        <result column="privilege_member_price" property="privilegeMemberPrice" />
        <result column="privilege_birthday" property="privilegeBirthday" />
        <result column="article_count" property="articleCount" />
        <result column="goods_count" property="goodsCount" />
        <result column="price" property="price" />
        <result column="note" property="note" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, growth_point AS growthPoint, default_status AS defaultStatus, free_freight_point AS freeFreightPoint, comment_growth_point AS commentGrowthPoint, privilege_free_freight AS privilegeFreeFreight, privilege_sign_in AS privilegeSignIn, privilege_comment AS privilegeComment, privilege_promotion AS privilegePromotion, privilege_member_price AS privilegeMemberPrice, privilege_birthday AS privilegeBirthday, article_count AS articleCount, goods_count AS goodsCount, price, note
    </sql>

</mapper>
