<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.worth.modules.applet.mapper.BizMemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.worth.modules.applet.domain.BizMember">
        <id column="id" property="id" />
        <result column="level_id" property="levelId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="phone" property="phone" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="icon" property="icon" />
        <result column="gender" property="gender" />
        <result column="birthday" property="birthday" />
        <result column="city" property="city" />
        <result column="job" property="job" />
        <result column="personalized_signature" property="personalizedSignature" />
        <result column="source_type" property="sourceType" />
        <result column="integration" property="integration" />
        <result column="growth" property="growth" />
        <result column="lucky_count" property="luckyCount" />
        <result column="history_integration" property="historyIntegration" />
        <result column="avatar" property="avatar" />
        <result column="openid" property="openid" />
        <result column="invite_code" property="inviteCode" />
        <result column="balance" property="balance" />
        <result column="school_id" property="schoolId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, level_id AS levelId, username, password, nickname, phone, status, create_time AS createTime, icon, gender, birthday, city, job, personalized_signature AS personalizedSignature, source_type AS sourceType, integration, growth, lucky_count AS luckyCount, history_integration AS historyIntegration, avatar, openid, invite_code AS inviteCode, balance, school_id AS schoolId
    </sql>

</mapper>
